body {
  text-align: center;
}

.wrapper {
  background-image: url('https://media.giphy.com/media/h0MTqLyvgG0Ss/giphy.gif');
  background-size: cover;
  height: 100vh;
}

.result {
  animation: colours 1s infinite;
  font-size: 6em;
}

@-webkit-keyframes colours {
      0% {color: #39f;}
     15% {color: #8bc5d1;}
     30% {color: #f8cb4a;}
     45% {color: #95b850;}
     60% {color: #944893;}
     75% {color: #c71f00;}
     90% {color: #bdb280;}
    100% {color: #39f;}
}

.jumbotron {
  box-shadow: 10px 0px 10px #000;
}

.header {
  margin: auto;
}

.col-center {
  float: none;
  margin: 0 auto;
}

input {
  margin-bottom: 5px;
  text-align: center;
}
